body{
    margin:0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header{
    z-index: 1;
    position: fixed;
    background:#6C648B;
    padding: 20px;
    width: calc(100% - 0%);
    top: 0%;
    height: 30px;
}

.left_area h3{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}

.left_area span{
    color: #fff;
}

.logout_btn{
    padding: 5px;
    background: #FBA100;
    text-decoration:none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color:#fff;
    transition: 0.5s;
    transition-property: background;
}

.logout_btn:hover{
    background: #B6A19E;
}

.sideBar{
    z-index: 1;
    top: 0;
    background:#6BBAA7;
    margin-top:70px;
    padding-top:30px;
    position: fixed;
    left:0;
    width: 300px;
    height: calc(100% - 9%);
    transition: 0.5s;
    transition-property:left;
    overflow-y: auto;
}

.menu_despliegue{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sideBar .menu_despliegue .logo_image{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.sideBar .menu_despliegue h4{
    color:#ccc;
    margin-top:0;
    margin-bottom: 20px;
}

.sideBar a{
    color:#fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sideBar a:hover{
    background:#FBA100;
}

.sideBar i{
    padding-right: 10px;

}

label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position:fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover{
    color: #B6A19E;
}

#check:checked ~ .sideBar{
    left: -185px;
}

#check:checked ~ .sideBar a span{
    display: none;
}

#check:checked ~ .sideBar a{
    font-size: 20px;
    margin-left: 165px;
    width: 100px;
}

.content{
    width: (100% -250px);
    margin-top: 60px;
    margin-left: 250px;
}

#check:checked ~ .content{
    margin-left: 60px;
}

#check:checked ~ .sideBar .menu_despliegue{
    display: none;
}

#check{
    display: none;
}

.mobile_nav{
    display: none;
}

/*Responsive CSS*/

@media screen and (max-width: 780px){
    .sideBar{
        display:none;
    }
    #sidebar_btn{
        display:none;
    }

    .content{
        margin-left:0;
        margin-top: 0;
        padding: 10px 20px;
        transition: 0s;
    }

    #check:checked ~ .content{
        margin-left:0;
    }

    .mobile_nav{
        display:block;
        width: calc(100% - 0%);
    }

    .nav_bar{
        background: #B6A19E;
        width:(100% - 0px);
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .nav_bar .mobile_profile_image{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .nav_bar .nav_btn{
        color:#fff;
        font-size: 22px;
        cursor: pointer;
        transition: 5s;
        transition-property: color;
    }

    .nav_bar .nav_btn:hover{
        color:#FBA100
    }

    .mobile_nav_items{
        background: #6BBAA7;
        display:none;
    }

    .mobile_nav_items a{
        color:#fff;
        display: block;
        text-align: center;
        letter-spacing: 1px;
        line-height: 60px;
        text-decoration: none;
        box-sizing: border-box;
        transition: 0.5s;
        transition-property: background;
    }

    .mobile_nav_items a:hover{
        background:#19B3D3
    }

    .mobile_nav_items i{
        padding-right: 10px;
    }

    .active{
        display:block;

    }
}
