/*----RESET----*/
input, select, textarea { 
	margin: 0;
	padding: 0;
	font:400 13px/1 'Roboto';
}


/*----------------------------------------------------------------------------------------*/
/*------------------------------------FORMULARIO (GRID)-----------------------------------*/
/*----------------------------------------------------------------------------------------*/

.form {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  color: #fff;
  gap: 15px 20px;
}


.form label{
  display: block;
  margin-bottom: 5px;
  color: white;
  font-size: 13px;
  text-transform: uppercase;
}

.form input[type="text"], .form input[type="password"],
.form input[type="email"], .form input[type="date"], .form input[type="number"],
.form select, .form input[type="file"]{
    display: block; 
    width: 100%;
    margin: 0 auto;
    background: #fff;
    border: 1px solid gray;
    padding: 5px; 
    height: 40px;
    margin-bottom: 25px;
    font-family: "Poppins", sans-serif;
}

.form input[type="file"]{
  border: 0px;
  border-bottom: 2px solid gray;
  background: #001018;
  color:white;
}

.form input:focus{ 
  background: #e4d9d8;
}

.form input[type="submit"]{
  width: 150px;
  margin: 1px auto;
  background: #be534b;
  color: #fff;
  text-align: center;
  border: 0;
  padding: 10px 20px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  border-radius: 10px;
}

/*----------------------------------------------------------------------------------------*/
/*--------------------------------------- GENERAL ---------------------------------------*/
/*----------------------------------------------------------------------------------------*/
.section-main h1{
  text-align: center;
}

.section-dos{
    background: #001018;
    height: 60em;
}

.content-wrap {
  width: 90%;
  margin: 0 auto;
  padding: 10px 10px;
}

.section-dos p {
  color: white;
}

.section-dos h2 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}

.section-dos a{
  display: inline-block;
  padding: 10px 20px;
  margin: 5px 10px;
  background: rgba(199,85,74) ;
  color: white;
  border-radius: 4px;
}

.paginacion {
  width: 30%;
  margin: 10px auto;
  padding: 10px;
}

.paginacion a{
  background: #353439;
}


/*----------------------------------------------------------------------------------------*/
/*----------------------------------PAGINA INICIO (HOME)----------------------------------*/
/*----------------------------------------------------------------------------------------*/
.section-inicio {
  height: 50em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.calendario-visitas {
  grid-column: 1/3;
  justify-content: center;
}


/*----------------------------------------------------------------------------------------*/
/*---------------------------------GRID PARA MOSTRAR DATOS--------------------------------*/
/*----------------------------------------------------------------------------------------*/

.datos{
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 15px 20px;
  margin-bottom: 40px;
  color:#fff;
}  

.datos p{
  text-transform: uppercase;
  font-size: 13px;
}

.col-12 {
  grid-column: span 12;
}

.col-6 {
  grid-column: span 6;
}

.col-4 {
  grid-column: span 4;
}

.col-3 {
  grid-column: span 3;
}

.campo {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px auto;
  width: 100%;
  min-height: 35px;
  background-color: white;
  border: 1px solid gray;
  color: black;
  
}



/*----------------------------------------------------------------------------------------------------------------*/

.table a{
  background: #353439;
  width: 80%;
}


.section-tres{
  min-height: 100vh;
  background:  rgba(255, 255, 255);
  padding: 20px 100px;
  clear:both;
}

.section-tres h2{
  color: #001018;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0;
}
 
.section-tres a {
  display:block;
  margin: 10px 0;
  color:#001018;
}



.content-wrapper {
    border: 1px solid #001018;
    border-radius: 10px;
    padding: 20px 20px;
    height: 400px;
  }

  .content-wrapper2 {
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px 20px;
    height: 400px;
    color: white;
  }

.section-dos img{
  display: block;
  height: 450px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

dd {
  display:block;
  width: 30%;
  margin-left: 40px;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: white;
  color:black;
  border-radius: 5px;
}

  

/*----TABLA----*/
  .table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 50px auto;
    margin-bottom: 10px;
    position: relative;
  }

  .table * {
    position: relative;
  }
 .table td, table th {
    padding-left: 8px;
  }
  .table thead tr {
    height: 60px;
    background: rgba(59,130,112);
  }
  .table tbody tr {
    height: 50px;
  }
  .table tbody tr:last-child {
    border: 0;
  }
  .table td, table th {
    text-align: center;
  }

.table th{
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}
 


  /*font-family: "Poppins", sans-serif;*/
