/* GENERAL
--------------------------*/
/* ASIDE
---------------------------------------------*/
aside{
    width: 20%;
    height: 400px;
    padding: 10px;
    border: 1px solid black;
    float:left;
    background: rgb(190, 185, 185);
}

aside a{
    display: block;
    margin: 10px auto;
    border-bottom: 1px solid black;
    text-decoration: none;
}

/* SECTION
---------------------------------------------*/
section{
    width: 80%;
    height: 400px;
    border: 1px solid black;
    float: left;
    background: white;
}

section h2{
    margin: 0;
}

.content-wrap{
    width: 90%;
    padding: 10px;
    margin: 25px auto;
    border: 1px solid black;
    border-radius: 10px;
}

section img{
    width: 150px;
    float: right;
    margin-right: 40px;
}
section p{
    margin-left: 20px;
}

/* PIE DE PAGINA
---------------------------------------------*/
