*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.wrap{
	width: 800px;
	max-width: 90%;
	margin: 30px auto;
}

ul.tabs{
	width: 100%;
	background: #363636;
	list-style: none;
	display: flex;
}

ul.tabs li{
	width: 18%;
}

ul.tabs li a{
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-size: 16px;
	text-align: center;

	display: block;
	padding: 20px 0px;
}

.active1{
	background: #0984CC;
}

ul.tabs li a .tab-text{
	margin-left: 8px;
}

.secciones{
	width: 100%;
	background: rgb(97, 97, 97);
}

.secciones article{
	padding: 30px;
}

.secciones article p{
	text-align: justify;
}
.secciones article .Va{
	text-align: right;
}
.container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.table {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
}

.table caption {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px 0px;
}

.table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}

.table th, .table td {
    font-size: 16px;
    padding: 8px;
    text-align: center;
}

.table thead th{ 
    text-transform: uppercase;
    background-color: #ddd;
}

.table tbody tr:hover {
    background-color: #DADADA;
}

/*.table tbody td:hover {
    background-color: rgba(0, 0, 0, 0.3);
}*/
.subir{
    padding: 5px 10px;
    background: #f55d3e;
    color:#fff;
    border:0px solid #fff;
    border-radius: 10px;
}
 
.subir:hover{
    color:#fff;
    background: #f7cb15;
}

.Btn_chido{
    padding: 5px 10px;
    background: #34B015;
    color:#fff;
    border: none;
    border-radius: 10px;
}

.Btn_chido:hover{
    border: none;
    border-radius: 10px;
}

@media screen and (max-width: 960px){
	ul.tabs li{
		width: none;
		flex-basis: 0;
		flex-grow: 1;
	}
}

@media screen and (max-width: 800px){
	ul.tabs li a{
		padding: 15px 0px;
	}

	ul.tabs li a .tab-text{
		display: none;
	}

	.secciones article{
		padding: 20px;
	}

	.table {
        border: 0px;
    }
    .table caption {
        font-size: 22px;
    }
    .table thead {
        display: none;
    }
    .table tr {
        margin-bottom: 8px;
        border-bottom: 4px solid #ddd;
        display: block;
    }
    .table th, .table td {
        font-size: 12px;
    }
    .table td {
        display: block;
        border-bottom: 1px solid #ddd;
        text-align: right;
    }
    .table  td:last-child {
        border-bottom: 0px;
    }
    .table td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }
   
}


.boton_personalizado{
    font-family: 'Bitter', serif;
    text-decoration: none;
    padding: 5px;
    font-weight: 300;
    font-size: 14px;
    color: #ffffff;
    background-color: #CF6D1B;
    border-radius: 1px;
    border: 2px solid #CF6D1B;
}


  .boton_personalizado:hover{
    color: #CF6D1B;
    background-color: #ffffff;
  }
  .boton_personalizado1{
    font-family: 'Bitter', serif;
    text-decoration: none;
    padding: 5px;
    font-weight: 300;
    font-size: 14px;
    color: #ffffff;
    background-color: #099242;
    border-radius: 1px;
    border: 2px solid #099242;
}


  .boton_personalizado1:hover{
    color: #099242;
    background-color: #ffffff;
  }
  .boton_personalizado2{
    font-family: 'Bitter', serif;
    text-decoration: none;
    padding: 5px;
    font-weight: 300;
    font-size: 14px;
    color: #ffffff;
    background-color: #920909;
    border-radius: 1px;
    border: 2px solid #920909;
}
.new1{
    text-decoration: none;
    color:rgb(255, 255, 255);
}

  .boton_personalizado2:hover{
    color: #920909;
    background-color: #ffffff;
  }